:root {
  --primary-color: #8bd1ea;
  --primary-color-90: #8bd1ea90;
  --primary-color-60: #8bd1ea60;
  --primary-color-50: #8bd1ea50;
  --primary-color-40: #8bd1ea40;
  --primary-color-30: #8bd1ea30;
  --primary-color-20: #8bd1ea20;
  --primary-color-05: #8bd1ea05;
  --primary-dark-color: #158fbb;
  --primary-dark-color-80: #158fbb80;
  --primary-dark-color-40: #158fbb40;
  --error-color: rgba(255, 0, 0, 0.38);
  --error-bg-color: rgba(6, 0, 32, 0.803);
  --grey-color: rgb(179, 179, 179);
  --border-grey-color: rgba(209, 207, 207, 0.745);
  --placeholder-color: rgba(209, 207, 207, 0.858);
  --white: rgba(255, 255, 255);
  --black: rgba(0, 0, 0);
  --black-50: rgba(0, 0, 0, 0.5);
}
